{% extends 'componentes/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	CONTACTO
{% endblock encabezado%}
{% block contenido %}
	<div class="row">
            <div class="col s12">
            <i class="small material-icons">contact_phone</i><font size="4"><b>Teléfono</b></font>
            <br>
            (999) 94891-00
            </div>
      </div>
      <div class="row">
      <div class="col s5">
            <div class="divider"></div>
            <i class="small material-icons">location_on</i><font size="4"><b>Dirección</b></font>
            <br>
            Calle: 1F Num. 267 x 36 y 38, Fraccionamiento Campestre
            <br>
            Mérida Yucatán, México
      </div>
      <div class="col s5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d931.1222847722555!2d-89.61719117082588!3d21.013101251044855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5676a4debea2ed%3A0xe57e99b714c1006e!2sMieles+Del+Mayab+Sa+De+Cv!5e0!3m2!1ses-419!2smx!4v1461601839569" width="220" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
{% endblock contenido %}
