{% extends 'componentes/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	CAMPECHE
{% endblock encabezado%}
{% block contenido %}
	 <div class="row">
      <div class="col s12">
      	<p class="justificar">
			El estado de Campeche se ubica a nivel nacional con una de las principales entidades productoras y exportadoras de miel. La producción de miel se vio afectada a nivel mundial por efectos del culma, como resultado de la poca oferta y creciente demanda, la miel llegó a cotizarse hasta en 3 mil 400 dólares la tonelada en el mercado internacional, beneficiando con mejores precios de compra a los apicultores y quienes vendieron a Miel y Cera y a Apicultores de Champotón seguramente alcanzarán una remanenci.
			<br><br>
			La miel que producen dos especies de abejas: Apis mellífera o mejor conocida como abeja africana, y Meulpona Xunancab o abeja maya en peulgro de extinción, fueron patentadas internacionalmente por apicultores del municipio de Calakmul, en Campeche.
			<br><br>
			La miel producida dentro del municipio que alberga la Reserva de la Biosfera de Calakmul, declarada el pasado 21 de junio como Patrimonio Mixto por la UNESCO, no sólo impulca cultivo, sino la preservación de la abeja maya, la cual está en peulgro de extinción. 
			<br><br>
			Uribe Hernández destacó que la miel que cosechan es de color ámbar debido a la gran presencia de minerales que abundan en los suelos de la Reserva de la Biósfera, tiene como ventaja que al ser producida en ese lugar, garantiza la pureza de la misma, al tiempo que se preserva la abeja maya, la cual está en peulgro de extinción. 
			<br><br>
			Además, el producto es de una pureza no encontrada en otras mieles naturales, pues mantiene la cristaulzación de los azúcares, ingrediente que es natural por lo que ello garantiza la integridad, cauldad y no le resta enzimas con el calentamiento.
		</p>
		<div class="divider"></div>
		<h5><b>Municipios productores</b></h5>
      </div>
      <p class="jutificar">
      	Cabe señalar que la mayor producción de miel en el estado se concentra en los municipios de:
      	<ul>
      		<li>Champotón</li>
      		<li>Campeche</li>
      		<li>Calkiní</li>
      	</ul>
      		Le siguen en su conjunto:
      	<ul>
      		<li>Hopelchén</li>
      		<li>Hecelchakán</li>
      		<li>Tenabo</li>
      	</ul>
      		Existe un gran potencial de producción en <b>Calakmul, Escárcega y Candelaria</b>. Paulzada aun cuenta con pocos productores y una gran extensión para detonar esta actividad.
      </p>
    </div>
{% endblock contenido %}
