{% extends 'componentes/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	¡Bienvenido!
{% endblock encabezado%}
{% block contenido %}
	<div class="card">
    <div class="card-image">
      <img src="{% static 'images/inicio.jpg' %}">
      <span class="card-title">MIMEX - Mieles de México
      	<br>
      	<b>Dulce Naturaleza</b>
      </span>
    </div>
  </div>
	<div class="row">
				<div class="col s4">
					<div class="center">
					<i class="large material-icons">person_pin</i><br>
						<h5>Misión</h5>
					</div>
					<div class="divider"></div>
					<div class="jutificar">
						Generando un  desarrollo dinámico y rentable de largo plazo  para asegurar la competencia de la empresa, el desarrollo de nuestros proveedores y el de la industria apícola en general.
					</div>
				</div>
				<div class="col s4">
					<div class="center">
					<i class="large material-icons">visibility</i><br>
						<h5>Visión</h5>
					</div>
					<div class="divider"></div>
					<div class="jutificar">
						Ser la empresa líder nacional en el comercio de productos apícolas, dirigida por gente comprometida y guiada por valores mutuos, que involucra a nuestros proveedores para ser  una empresa de excelencia, comprometida con la satisfacción de nuestros clientes.
					</div>
				</div>
				<div class="col s4">
					<div class="center">
					<i class="large material-icons">verified_user</i><br>
						<h5>Producto</h5>
					</div>
					<div class="divider"></div>
					<div class="jutificar">
						Exportamos Alta Calidad, miel de Abejas sin procesar 100% Natural clasificada por origen floral y color. La miel está empacada en tambores metálicos, conveniente para el transporte de productos alimenticios. Embarcamos contenedores desde 60 a 72 tambores de 20 pies a cualquier parte del mundo.
					</div>
				</div>
	</div>
{% endblock contenido %}
