{% extends 'componentes/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	MIEL
{% endblock encabezado%}
{% block contenido %}
	<div class="row">
            <div class="col s12">
            	<p class="justificar">
         		Todas las mieles que producen las abejas son buenas. Lo que puede afectar su calidad y autenticidad es el manejo que se hace de ellas desde la cosecha hasta su consumo. Para el comercio la miel de abeja debe cumplir normas básicas de inocuidad: que no esté adulterada con otros azúcares ni contaminada con insecticidas, antibióticos y otros compuestos. Para México, país exportador de miel, esta normatividad es fundamental.
         		</p>
      		  <div class="divider"></div>
      		<h5><b>Tipos de Mieles</b></h5>
            </div>
      </div>
      <div class="row">
            <p class="jutificar">
            Existen dos formas de diferenciar las mieles, la más común es a partir de su origen botánico y otra de su origen geográfico.
            </p>
            <div class="col s6">
             <center><h6><b>Origen Botánico</b></h6></center>
             Se pueden reconocer como monoflorales (una sola especie con predominancia de más de 45%) y multiflorales. Cabe mencionar que no se requiere del 100% de un tipo de polen para ser reconocido como monofloral, sino de un porcentaje reconocido que le otorgue a la miel características de sabor y color suficientes para ser considerada de este tipo. 
            </div>
            <div class="col s6">
                  <center><h6><b>Origen Geográfico</b></h6></center>
                  Por su origen geográfico las mieles se clasifican de acuerdo a la región de donde provienen y a la flora de dicha región.
            </div>
      </div>
      <div class="row">
            <p class="jutificar">
                  Las mieles diferenciadas pueden adquirir un mayor valor en el mercado al ser reconocidos por su sabor, olor, propiedades o preferencias de los consumidores. En algunas regiones pueden ser consideradas como medicinales por el hecho de que provengan de alguna planta en particular
            </p>
      </div>
{% endblock contenido %}
