{% load staticfiles %}
<!DOCTYPE html>
<div class="navbar-fixed">
  <nav class="nav-color">
      <div class="nav-wrapper">
        <a href="{% url 'inicio' %}" class="brand-logo"><img src="{% static 'images/logo_min.png' %}"/>MIMEX
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="{% url 'inicio' %}">
              <i class="material-icons right">turned_in</i>
              Inicio
            </a>
          </li>
          <li>
            <a href="{% url 'informacion' %}">
              <i class="material-icons right">textsms</i>
              Información
            </a>
          </li>
          <li>
            <a href="{% url 'miel' %}">
              <i class="material-icons right">new_releases</i>
              Miel
            </a>
          </li>
          <li>
            <a href="{% url 'contacto' %}">
              <i class="material-icons right">contacts</i>
              Contacto
            </a>
          </li>
        </ul>
        <ul class="side-nav nav-color" id="mobile-demo"> <!-- Navbar para dispositivos moviles -->
          <li>
            <a href="{% url 'inicio' %}">
              <i class="material-icons right">turned_in</i>
              Inicio
            </a>
          </li>
          <li>
            <a href="{% url 'informacion' %}">
              <i class="material-icons right">textsms</i>
              Informacion
            </a>
          </li>
          <li>
            <a href="{% url 'miel' %}">
              <i class="material-icons right">new_releases</i>
              MIEL
            </a>
          </li>
          <li>
            <a href="{% url 'contacto' %}">
              <i class="material-icons right">contacts</i>
              CONTACTO
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>
