          <li>
             <a href="{% url 'inicio' %}">
              <i class="material-icons right">turned_in</i>
              Inicio
            </a>
          </li>
          <li>
            <a href="{% url 'informacion' %}">
              <i class="material-icons right">textsms</i>
              Información
            </a>
          </li>
          <li>
            <a href="{% url 'miel' %}">
              <i class="material-icons right">new_releases</i>
              Miel
            </a>
          </li>
          <li>
            <a href="{% url 'contacto' %}">
              <i class="material-icons right">contacts</i>
              Contacto
            </a>
          </li>