{% load staticfiles %}
<!DOCTYPE html>
<div class="navbar-fixed">
  <nav class="nav-color">
      <div class="nav-wrapper">
        <a href="{% url 'inicio' %}" class="brand-logo"><img src="{% static 'images/logo_min.png' %}"/>MIMEX
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% include 'componentes/navbar-opciones.html' %}
        </ul>
        <ul class="side-nav nav-color" id="mobile-demo"> <!-- Navbar para dispositivos moviles -->
          {% include 'componentes/navbar-opciones.html' %}
        </ul>
      </div>
    </nav>
</div>